     <li>
          <a href="{% url 'cleansers' %}" >Cleansers</a>
        </li>
        
         <li>
          <a href="{% url 'serums' %}" >Serums</a>
        </li>
        
         <li>
          <a href="{% url 'day_creams' %}" >Day Creams</a>
        </li>
        
         <li>
          <a href="{% url 'night_creams' %}" >Night Creams</a>
        </li>
        
         <li>
          <a href="{% url 'eye_creams' %}" >Eye Creams</a>
        </li>
        
         <li>
          <a href="{% url 'face_scrubs' %}" >Face Scrubs</a>
        </li>
        
         <li>
          <a href="{% url 'face_masques' %}" >Face Masques</a>
        </li>
        
         <li>
          <a href="{% url 'body_care' %}" >Body Care</a>
        </li>
        
         <li>
          <a href="{% url 'hand_foot_cream' %}" >Hand and Foot Cream</a>
        </li>
 